body{height: 100vh;
margin: 0px;}

header{background:url("ch.jpg") no-repeat ;
		background-size: cover;
		background-position:0 40%;
		width: 100%;
		height: 25%;
		margin: 0px;
	}

header h1{color: firebrick;
margin: 0px;
padding-top: 25px;
padding-left: 15px;
font-family: verdana;
font-size: 4vw;
letter-spacing: 2px;}	


nav{width: 100%;
	height: 9%;
	background:linear-gradient(45deg,teal,firebrick);
overflow: hidden;}

nav a{text-decoration: none;
      font-size: 25px;
      font-family: arial;
      color: white;
      padding-top: 12px;
      display: inline-block;
      width: 12%;
      text-align: center;
      margin: 0px;
      height: 100%;
      
  }

  nav a:hover{background-color: white;
  				color: teal;}



          a.active{background-color: white;
          color: teal;
            
          }


 section {width: 100%;
 			height: auto;
      padding: 20px;
 	background:url('cu.jpg');
    background-size: cover;
    box-sizing: border-box;
		padding-top: 50px;} 


    article{width: 45%;
      height: auto;
      margin: 20px auto;
      box-shadow: 0 0 12px orange;
      background-color:rgba(0,0,0,0.7);
      border-radius: 20px;
      position: relative;
      padding-top: 70px;
      padding-bottom: 20px;}



      img{width:100px;
        height: 100px;
        border-radius: 50%;
        border:3px ridge dodgerblue;
        display:block;
        margin:0px auto;
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translate(-50%);}

        input,textarea{width: 100%;
              height: 30px;
              border-radius: 15px;
              border-bottom: 3px ridge dodgerblue;
              background-color: rgba(0,0,0,0.7);
              font-size: 20px;
              text-align: center;
              color: white;}

              input{border:none;
                border-bottom: 3px ridge dodgerblue;
                }


              input:focus,textarea:focus{outline: none;
                text-align: left;}


              textarea{height: 80px;}

        label{
          color: limegreen;
          font-family: fantasy;
          font-size: 2vw;
          letter-spacing: 1px;}

          button{font-size: 20px;
            width: 30%;
font-weight: bold;
background-color: limegreen;
border-radius: 5px;
border:1px solid limegreen;
padding: 5px;
color: white;}



        table{width: 80%; }




        @media (max-width: 1100px)
{ 
  nav a{display: block;
    margin: 0 auto;
    width: 100%;}
  nav{overflow: none;
    height: auto;}

    article{width: 50%;}
}

@media (max-width: 1000px)
{
  article{width: 55%;}
}
@media (max-width: 850px)
{
  article{width: 65%;}
  label{font-size: 20px;}
}

@media (max-width: 725px)
{
  article{width: 80%;}
  label{font-size: 20px;}
}

@media (max-width: 650px)
{
  article{width: 90%;}
  label{font-size: 18px;}
}



